<html>
	<head>
	<title> News Web Application </title>
	<style>
 		 *{font-size:40px;font-family:Calibri;}
	body{background-color:lightblue;}
	.nav{background-color:black;}
	.nav a{color:white;text-decoration:None;margin:5%;}
	h2{border-style:solid;width:50%;border-radius:30px;}
	</style>
<meta name="viewport"content="width=device-width,initial-scale=1.0">
</head>
<body>
<center>
	<div class="nav">
		<a href="{%   url 'home'   %}">News</a>
		<a href="{%   url 'about'   %}">About</a>
	</div>
	{% block content %}
	{% endblock %}
	</center>
	</body>
</html>